.comments_block {
    margin-left: 20px;
}

.postDisabled {
    background-color: rebeccapurple;
}
.emojiBlock {
    position: absolute;
    z-index: 3;
}
.emojiIn {
    width: 100%;
    position: relative;
}

.emojiInput {
    margin: 0px;
    padding: 0px;
    width: 100%;
    outline: none;
    height: 30px;
    border-radius: 5px;
}

.emojiButton {
    position: absolute;
    right: 5px;
    z-index: 2;
    top: 2px;
    height: 30px;
    transform: translateX(2px);
    cursor: pointer;
}